{% extends 'base.html' %}
{% load static %}

{% block header %}
<title>{{title}}</title>
<link rel="stylesheet" href="{% static 'css/post_style.css' %}" />
<link rel="stylesheet" href="{% static 'css/codehilite.css' %}" />
{% endblock %}

{% block navbar-items %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'about_me' %}"> About me </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% static 'resume.pdf' %}"> Resume </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'latest_posts' %}"> Blog <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}"> Contact </a>
</li>
{% endblock %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="post col-md-9">
            {% include 'post_title.html' %}
            {% include 'post_date.html' %}
            {% include 'post_category.html' %}
            {% include 'post_tag.html' %}
            {% include 'post_content.html' %}
            {% include 'post_prev_next.html' %}
            {% include 'post_disqus.html' %}
        </div>
        <div class="col-md-3">
            {% include 'sidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}
