language: python
python:
  - "3.4"
  - "3.5"
  - "3.5-dev"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
install:
  - pip install -r requirements.txt
before_script:
  - python src/manage.py makemigrations blog
  - python src/manage.py migrate
script:
  - pytest src --cov=./src
after_success:
  - codecov --token=85fd8c0a-9752-4d67-add0-c66f54b615e2
