# A high-level Python Web framework that 
# encourages rapid development and clean, 
# pragmatic design.
Django==2.0.3

# Python implementation of Markdown.
Markdown==2.6.11

# Pygments is a syntax highlighting 
# package written in Python.
Pygments==2.2.0

# A Django plugin for pytest.
pytest-django==3.1.2

# Pytest plugin for measuring coverage.
pytest-cov==2.5.1

# Hosted coverage reports for Github, 
# Bitbucket and Gitlab 
codecov==2.0.15

# WSGI HTTP Server for UNIX
gunicorn==19.7.1 

# Python-PostgreSQL Database Adapter
psycopg2==2.7.4

# Django Google Analytics app allowing for server side/non-js tracking.
django-google-analytics-app==4.3.0 
