{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="alternate" type="application/rss+xml" title="Latest posts RSS Feed" href="{% url 'feed' %}" />
        <link rel="alternate" type="application/atom+xml" title="Latest posts Atom Feed" href="{% url 'feed_atom' %}" />
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
        
        {% block header %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        
        <script src="{% static 'js/jquery.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
