{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/blog_style.css' %}" />
<title>{{title}}</title>
{% endblock %}

{% block navbar-items %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'about_me' %}"> About me </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'latest_posts' %}"> Blog <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="posts col-md-9">
            {% for post in posts %}
            <div class="post">
                {% include 'post_title.html' %}
                {% include 'post_date.html' %}
                {% include 'post_category.html' %}
                {% include 'post_tag.html' %}
                {% include 'post_abstract.html' %}
            </div>
            {% empty %}
            <h3>No posts found...</h3> 
            {% endfor %}
            {% include 'blog_pagination.html' %}
        </div>
        <div class="col-md-3">
            {% include 'sidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}
