.post {
    margin-bottom: 4em;
}

.post-title,
.post-title a {
    color: #303030;
    text-decoration: none;
    font-size: 1.5rem;
}
.post-title:hover,
.post-title a:hover {
    text-decoration: underline;
}

.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: .5rem;
}

.post-category,
.post-category a {
    display: block;
    color: #303030;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
}

.post-category:hover,
.post-category a:hover {
    text-decoration: underline;;
}

.post-tag a {
    color: #303030;
    text-decoration: none;
}

.post-tag a:hover {
    text-decoration: underline;;
}

.post-abstract {
    margin-top: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.post-more a{
    color: #9a9a9a;
    text-decoration: none;
}

.post-more a:hover {
    text-decoration: underline;
}
